.Quiz-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 20px;
}

.Quiz-main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-around;
    width: 100%;
    margin: 15px 4% 15px 4%;
    height: auto;
}

.Quiz-cardFinalArea {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-around;
    width: 100%;
    margin: 15px 4% 15px 4%;
    padding: 20px 0px 70px 0px;
    height: 100%;
}

.Quiz-titleArea {
    width: 100%;
    margin-top: 20px;
}

.Quiz-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
}
.Quiz-subtitle {
    font-size: 18px;
    margin-top: 20px;
}
.QuizList-LoaderArea {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 2% 0px 2%;
}

.QuizList-loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid rgba(251, 188, 5, 0.7);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.Quiz-quizArea {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.Quiz-imageArea {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: center;
}

.Quiz-image {
    max-width: 100%;
    max-height: 55vh;
    pointer-events: none;
}

.Quiz-card {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: max-content;
    border-radius: 30px;
    padding-bottom: 40px;
    box-shadow: 0px 0px 5px #888888;
    margin-top: 15px;
}

.Quiz-progressBar{
    width: 92%;
    height: 25px;
    border-radius: 10px;
    background-color: #E1E1E1;
    align-self: center;
}

.Quiz-progressText {
    font-size: 14px;
    font-weight: 500;
}

.Quiz-pergunta {
    font-size: 18px;
    font-weight: 500;
    margin: 20px 4% 0px 4%;
}

.Quiz-respostas {
    display: flex;
    flex-direction: column;
    margin: 10px 4% 0px 4%;
    justify-content: space-around;
    padding: 15px 0px 15px 0px;
}

.Quiz-resposta {
    height: 40px;
    margin: 6px 0px 6px 0px;
    border-radius: 12px;
    border-width: 0px;
    background-color: rgb(251, 188, 5);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
}

.Quiz-resposta:hover {
    cursor: pointer;
    background-color: rgba(251, 188, 5, 0.5);
}

.Quiz-cardFinal {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 0px 5px #888888;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Quiz-imageAreaCF {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.Quiz-imageCF {
    max-width: 100%;
    max-height: 20vh;
    pointer-events: none;
}

.Quiz-tituloCF {
    font-size: 30px;
    font-weight: bold;
    color: rgba(251, 188, 5, 0.7);
    margin: 20px 10px 15px 10px;
}

.Quiz-subtituloCF {
    color: rgba(0, 0, 0, 0.5);
    margin: 0px 10% 15px 10%;
}

.Quiz-input {
    width: 80%;
    height: 35px;
    border-radius: 30px;
    border-color: rgba(0, 0, 0, 0.2);
    margin-top: 8px;
    padding-left: 4%;
}

.Quiz-finalButton {
    padding: 10px 20px 10px 20px;
    width: 80%;
    min-height: 35px;
    font-weight: 500;
    font-size: 16px;
    white-space: normal;
    border-radius: 30px;
    border-width: 0px;
    margin-top: 20px;
    background-color: rgba(251, 188, 5, 0.7);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.Quiz-finalButton:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
}

.Quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0px;
    margin-top: 70px;
    position: relative;
    width: 100%;
    background-color: aquamarine;
    clear: both;
}

.Quiz-direitos {
    font-weight: bold;
    color: #000000;
    font-size: 1vw;
    margin-left: 2%;
    margin-right: 2%;
}

.Quiz-footerLinks {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-right: 2%;
}

.Quiz-footerLink {
    color: #000000;
    text-decoration: none;
    font-size: 1vw;
    margin-left: 2%;
    margin-right: 2%;
}

.Quiz-footerLink:hover {
    color:rgba(0, 0, 0, 0.4)
}

:root {
    --colour1: rgb(251, 188, 5);
    --colour2: rgb(252, 211, 91);
    --speed: 2s;
}

/* @keyframes slide {
    from {
        background-position: 0;
    }
    to {
        background-position: 100%;
    }
} */

.Quiz-progress {
    display: block;
    height: 100%;
    /* background: linear-gradient(90deg, #ffd33d, #ea4aaa 17%, #b34bff 34%, #01feff 51%, #ffd33d 68%, #ea4aaa 85%, #561b80); */
    background-image: repeating-linear-gradient(
      90deg,
      var(--colour2),
      var(--colour2) 20px,
      var(--colour1) 20px,
      var(--colour1) 40px
    );
    background-size: 300% 100%;
    animation: progress-animation 20s linear infinite; 
}

@keyframes progress-animation {
    0% {
      background-position: 100%; 
    }
    100% {
      background-position: 0; 
    } 
}

@media only screen and (max-width: 900px) {
    .Quiz-container {
        margin-top: 40px;
        padding-top: 0px;
        height: auto;
    }
    .Quiz-main {
        justify-content: space-evenly;
        margin-top: 0px;
    }
    .Quiz-title {
        font-size: 4.5vw;
        font-weight: bold;
        margin: 0px 20px 0px 20px;
    }
    .Quiz-subtitle {
        font-size: 4vw;
        margin: 20px 20px 0px 20px;
    }
    .Quiz-card {
        width: 90%;
        padding-bottom: 20px;
        margin-top: 1.5vh;
    }
    .Quiz-progressBar{
        height: 20px;
    }
    .Quiz-imageArea {
        display: none;
    }
    .Quiz-pergunta {
        font-size: 4.5vw;
    }
    .Quiz-resposta {
        font-size: 3.4vw;
        height: 7vh;
        min-height: 40px;
    }
    .Quiz-progressText {
        font-size: 3vw;
    }
    .Quiz-cardFinal {
        width: 92%;
    }
    .Quiz-tituloCF {
        font-size: 7vw;
    }
    .Quiz-subtituloCF {
        font-size: 4.5vw;
    }
    .Quiz-footer {
        flex-direction: column;
        margin-top: 40px;
        position: relative;
    }
    .Quiz-direitos {
        font-size: 4vw;
        margin-bottom: 0%;
    }
    .Quiz-footerLinks {
        flex-direction: column;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 15px;
        margin-right: 0%;
    }
    .Quiz-footerLink {
        font-size: 4vw;
        margin-top: 10px;
    }
  }